#!/bin/bash

# TODO!! and also automate it with a cron job
# Needs a shared directory also

# https://github.com/fredsimard/invoice_ninja_backup_bash_script
# https://emeraldsecurity.net/2023/09/11/how-to-backup-invoice-ninja-v5/

# docker exec -i invoiceninja_db_1 mysqldump -u{{ mysql_user }} -p{{ mysql_password }} ninja > /home/{{ user_var }}/invoiceninja/backup/dump.sql

docker exec -i invoiceninja_db_1 mysql -u{{ mysql_user }} -p{{ mysql_password }} ninja < /home/{{ user_var }}/invoiceninja/backup/backup.sql