#!/bin/bash

# Needs a shared directory also

# https://github.com/fredsimard/invoice_ninja_backup_bash_script
# https://emeraldsecurity.net/2023/09/11/how-to-backup-invoice-ninja-v5/


BACKUP_DIR="/home/{{ user_var }}/invoiceninja/backup"
DATE=$(date +"%Y-%m-%d")


sudo docker exec invoiceninja_db_1 mysqldump -u'{{ mysql_user }}' -p'{{ mysql_password }}' ninja >  $BACKUP_DIR/backup-$DATE.sql


find $BACKUP_DIR -type f -name "backup-*.sql" -mtime +7 -delete

